:root {
  /* --- Primary Color Palette --- */
  --primary-color: #667eea;
  /* Used for main actions, links, active states, and hover effects */
  --primary-color-hover: #5a6fd1;
  --secondary-color: #ff4757;
  /* Used for danger/delete actions */
  --secondary-color-hover: #f3232e;
  --y: #8d7b1b;
  --y2: #a5911d;
  /* --- Backgrounds & Borders --- */
  --bg-dark: #1a1a2e;
  /* Main body background */
  --bg-dashboard-card: rgba(255, 255, 255, 0.1);
  /* Dashboard container background */
  --bg-menu-item: rgb(0 0 0 / 34%);
  --bg-menu-item-hover: #667eea7a;
  /*transparent version of primary-color */

  --bg-info-card: #00000057;
  --bg-black: #1010108c;

  --border-dashboard: rgba(255, 255, 255, 0.2);
  --border-delete-zone: var(--secondary-color);
  --border: #dddddd80;
  --background: hsl(0deg 0% 59.99%);
  --foreground: hsl(30, 25%, 15%);
  --success: hsl(142, 76%, 36%);
  --destructive: hsl(0, 72%, 51%);

  --back-btn: #9f9f9f40;
  /* --- Text Colors --- */
  --text-primary-light: #e5e5e5;
  /* Main headers */
  --text-secondary-light: #ffffff;
  /* h3, info-card h4 */
  --text-muted-dark: #999;
  /* Header p */
  --text-info-card-muted: #979797;
  --text-menu-item: #a9a9a9;
  --white: white;
  --text-delete-zone-title: var(--secondary-color);
  --text-input-label: #888;
  --text-input: #fff;
}

/* scrollbar */
*::-webkit-scrollbar-track {
  background-color: #353535;
  margin-block: 0;
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(140deg, #d68e04 0%, #9d5316 100%);
  /* background: linear-gradient(transparent, #d68e04, transparent); */
  border: 3px solid rgba(0, 0, 0, 0);
  border-radius: 2%;
  background-clip: padding-box;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

*::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

#vip-code-input:focus,
#card-num:focus,
#card-exp:focus,
#card-cvc:focus {
  border-color: var(--y);
}



/* --- Global Reset & Body --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  display: flex;
  background-color: var(--bg-dark);
  align-items: center;
  justify-content: center;
  overflow: auto;
}

/* Estilos para la superposición de carga */
#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

#loading-overlay.active {
  opacity: 1;
  visibility: visible;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top-color: #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* --- Animated Background --- */
.background-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://i.pinimg.com/474x/d9/aa/f6/d9aaf6c025e9fd9308fe0c0ab49bcdfd.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  /* background: linear-gradient(135deg, var(--primary-color), var(--secondary-color), #40e0d0); */
  background-size: 110% 104%;
  animation: gradientShift 15s ease infinite;
  opacity: 0.6;
  transition: background-image 0.4s ease-in-out;
  z-index: -1;
}

@media (min-width: 828px) {
  .background-animation {
    background-size: 104% 116%;
    background-image: url('https://i.pinimg.com/736x/7b/6c/67/7b6c67324b157898de94e10a532cc8b4.jpg');
  }
}

/* --- Dashboard Container --- */
.dashboard {
  background: var(--bg-dashboard-card);
  border-radius: 20px;
  box-shadow: 0px 5px 60px rgb(0 0 0);
  padding: 24px;
  max-width: 500px;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 94%;

  /* Increased height for settings forms */
  display: flex;
  border: 1px solid var(--border-dashboard);
  flex-direction: column;
  position: relative;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(10px);
  overflow: auto;

  transition: all 0.5s ease;
  transform: scale(1);
  animation: fadeInScale 0.6s ease-out forwards;
}

/* --- Header --- */
.header {
  text-align: center;
  margin-bottom: 15px;
  flex-shrink: 0;
}

.header h1 {
  color: var(--text-primary-light);
  font-size: 28px;
  /* margin-bottom: 5px; */
}

.header p {
  color: var(--text-muted-dark);
  font-size: 14px;
}

h3 {
  margin-top: 15px;
  justify-content: space-between;
  color: var(--text-secondary-light);
}

/* member */
#Member {
  color: var(--text-muted-dark);
  margin-bottom: 10px;
}

/* --- Info Cards --- */
.info-card {
  background: var(--bg-info-card);
  padding: 15px;
  justify-content: space-between;
  display: flex;
  border-radius: 10px;
  width: 100%;
  border: 2px solid var(--border);
  margin-bottom: 10px;
  text-align: left;
}

.info-card h4 {
  color: var(--text-secondary-light);
  font-size: 14px;
}

.info-card p {
  color: var(--text-info-card-muted);
  font-weight: 600;
}

/* --- Main Menu Grid --- */
.menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  flex-grow: 1;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
  background: var(--bg-menu-item);
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 2px solid var(--border);
  color: var(--text-menu-item);
  font-family: inherit;
}

.menu-item:hover {
  background: var(--bg-menu-item-hover);
  color: var(--white);
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(102, 126, 234, 0.3);
}

.menu-item i {
  font-size: 32px;
  margin-bottom: 15px;
  animation: float 3s ease-in-out infinite;
}

/* Staggered Animations */
.menu-item:nth-child(1) i {
  animation-delay: 0s;
}

.menu-item:nth-child(2) i {
  animation-delay: 0.2s;
}

.menu-item:nth-child(3) i {
  animation-delay: 0.4s;
}

.menu-item:nth-child(4) i {
  animation-delay: 0.6s;
}

.menu-item span {
  font-size: 14px;
  font-weight: 600;
}

.menu-item:hover i {
  animation: bounce 0.6s ease;
}

/* --- Content Sections --- */
.content-section {
  display: none;
  flex-direction: column;
  height: 100%;
  animation: fadeIn 0.4s ease forwards;
  overflow-y: auto;
  /* Allow scrolling if forms get long */
  /* padding-right: 5px; */
  /* Space for scrollbar */
}

.content-section.active {
  display: flex;
}

/* --- Settings Specific Styles --- */
.settings-group {
  margin-bottom: 15px;
  border: 2px solid var(--border);
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.settings-header {
  width: 100%;
  padding: 15px 20px;
  border: none;
  text-align: left;
  font-weight: 600;
  color: #444;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  background: var(--bg-black);
  color: var(--white);
  transition: all 0.5s ease;
  outline: none;
}

.settings-header:hover {
  background: var(--bg-black);
  transition: all 0.5s ease;
}

.settings-header i {
  /* color: var(--primary-color); */
  margin-right: 10px;
  width: 20px;
  text-align: center;
}


.Change {
  border: 2px solid #6d79e9;
}

.Change_Username,
.fa-id-card,
.fa-lock,
.Change_Password {
  color: var(--primary-color);
}


/* .fa-shopping-cart {
  color: #0e6869;
} */

.fa-gem,
.fa-shopping-cart {
  color: #8d7b1b;
}

.fa-gem {
  color: #8d7b1b;
}


.settings-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, padding 0.4s ease;
  background: var(--bg-info-card);
}

.settings-body.open {
  max-height: 400px;
  padding: 15px;
  border-top: 2px solid var(--border);
}

/* --- Inputs & Buttons --- */
.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  display: block;
  font-size: 12px;
  color: var(--text-secondary-light);
  margin-bottom: 5px;
  font-weight: 600;
}

input[type='text'],
input[type='password'] {
  width: 100%;
  padding: 10px 15px;
  border: 2px solid var(--border);
  border-radius: 8px;
  outline: none;
  /* background-color: #1c1c1cd4; */
  background-color: var(--bg-menu-item);
  transition: 0.3s;
  color: var(--text-input-label);
}

input:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 3px rgba(102, 126, 234, 0.1);
}

button {
  outline: none;

}

button:focus,
button:active {
  outline: none;
  box-shadow: none;
}

.btn-action {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: var(--primary-color);
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-action:hover {
  background: var(--primary-color-hover);
  transition: all 0.3s ease;
}

.btn-danger {
  background: var(--secondary-color);
  transition: all 0.5s ease;

  border: 1px solid var(--secondary-color);
  padding: 12px;
  border-radius: 12px;
  cursor: pointer;
}

.btn-danger:hover {
  background: var(--secondary-color-hover);
  transition: all 0.5s ease;
}

.delete-zone {
  margin-bottom: 15px;
  padding: 15px;
  border: 1px dashed var(--border-delete-zone);
  border-radius: 12px;
  background: var(--bg-black);
}

.delete-zone h4 {
  color: var(--text-delete-zone-title);
  font-size: 14px;
  margin-bottom: 5px;
}

.delete-zone p {
  font-size: 12px;
  color: var(--border);
  margin-bottom: 10px;
}

/* --- Footer & Back Button --- */
.back-btn {
  margin-top: auto;
  background: var(--back-btn);
  border: 2px solid var(--border);
  padding: 12px;
  width: 100%;
  border-radius: 12px;
  cursor: pointer;
  color: var(--text-primary-light);
  font-weight: 600;
  transition: 0.3s;
}

.back-btn:hover {
  background: #9c9c9caf;
  /* Unique hover color */
  color: var(--text-input);
  border-color: var(--border);
}

.footer {
  text-align: center;
  margin-top: 20px;
  padding-top: 15px;
  border-top: 2px solid var(--border);
  color: var(--border);
  font-size: 11px;
  flex-shrink: 0;
}

#bill_ico {
  font-size: 40px;
  margin-bottom: 10px;
}

/* facture */
#Invoice {
  display: flex;
  margin-top: 20px;
  border-top: 1px solid #333;
  justify-content: space-between;
  color: #1f3791;
}


/* Toast */
#toast-container {
  position: fixed;
  top: 2rem;
  left: 50%;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transform: translateX(-50%);

}

.toast {
  background-color: var(--success);
  color: var(--text-input);
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.toast.show {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.3s ease;
}

.toast.hide {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.3s ease;
}

.toast.info {
  background-color: darkgoldenrod;
  color: white;
}

.toast.error {
  background-color: var(--destructive);
  color: white;
}


/* Interfaz Flotante (Modal Overlay) */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.85); */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  backdrop-filter: blur(5px);
}

.modal-content {
  background: #ffffff70;
  padding: 24px;
  border-radius: 15px;
  width: 92%;
  max-width: 450px;
  position: relative;
  border: 1px solid #444;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.close-modal {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 28px;
  color: #000000;
  cursor: pointer;
}

/* Estilos internos del modal */
.modal-section {
  margin-bottom: 15px;
  font-size: 14px;
}

.modal-items-list {
  border-top: 1px solid #333;
  padding-top: 15px;
}

.modal-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: 14px;
}

.modal-totals {
  margin-top: 15px;
  border-top: 1px dashed #444;
  padding-top: 15px;
  display: grid;
  justify-items: stretch;
  border-bottom: 1px solid #333;
}

/* strength bar */
.password-strength-container {
  width: 100%;
  opacity: 0;
  height: 4px;
  background: #333;
  border-radius: 2px;
  margin-top: 8px;
  overflow: hidden;
}

.strength-bar {
  height: 100%;
  width: 0%;
  transition: all 0.3s ease;
}

small {
  color: var(--border);
}

/* Colores dinámicos */
.weak {
  background: #ff4d4d;
  width: 33%;
}

.medium {
  background: #ffaa00;
  width: 66%;
}

.strong {
  background: #00ff88;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 255, 136, 0.4);
}

/* eyes */
.toggle-password {
  transition: all 0.3s ease;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #777;
}

.toggle-password:hover {
  transition: all 0.3s ease;
  color: var(--primary-color) !important;
}

/* Contenedor independiente de cada factura  */
.bill-summary-card {
  background: var(--bg-info-card);
  border: 2px solid var(--border);
  border-radius: 10px;
  padding: 15px 20px;
  margin-top: 6px;
  margin-bottom: 6px;
  color: var(--text-info-card-muted);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s, border-color 0.2s ease;
}

.bill-summary-card:hover {
  transform: translateY(-2px);
  border-color: #a855f7;
  background: #252525a2;
  transition: all 0.2s, border-color 0.2s ease;
}

.bill-actions {
  display: flex;
  align-items: center;
  gap: 8px;
}

.bill-info {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;

  overflow: hidden;
}

.delete-btn {
  color: #ff4d4d;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  transition: transform 0.2s, color 0.2s;
  padding: 5px;
  z-index: 10;
}

.delete-btn:hover {
  color: #ff0000;
  transform: scale(1.2);
}

.btn-redeem-vip {
  background: #8d7b1b;
  color: #fff;
  font-weight: bold;

}

.btn-redeem-vip:hover {
  background: #a38e1f;
}

#vip_time_exp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

#vip_code {
  background: var(--bg-info-card);
  border: 1px dashed #333;
  padding: 10px;
  border-radius: 8px;
  margin-top: 15px;
  text-align: center;
}

.btn-danger-outline {
  background: transparent;
  color: #d32f2f;
  border: 1px solid #d32f2f;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease;
}

.btn-danger-outline:hover {
  background: #d32f2f;
  color: white;
}

.vip_time_exp {
  width: auto;
  background: var(--y);
}

.vip_time_exp:hover {
  background: var(--y2);
}

#btn-buy-code {
  background: var(--y);
}

#buy_code,
#vip-redeem-section {
  border: 2px solid var(--y);
}

#btn-buy-code:hover {
  background: var(--y2);
}


/* --- Keyframes --- */
@keyframes float {

  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-8px);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@media (min-width: 828px) {
  .dashboard {
    padding: 24px;
    max-width: 460px;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 94%;
    /* min-height: 600px; */
  }
}

@media (max-width: 428px) {
  .dashboard {
    padding: 16px;
  }

  #vip_time_exp {
    margin-bottom: 0;
    width: 100%;
    flex-direction: column-reverse;
  }

  .vip_time_exp {
    width: 100%;
    margin-bottom: 15px;

  }
}

/* Oculta la barra de Google y resetea el posicionamiento del body */
.goog-te-banner-frame,
.goog-te-balloon-frame,
#goog-gt-tt,
.goog-tooltip,
.goog-tooltip:hover {
  display: none !important;
}

body {
  top: 0 !important;
}

font {
  background-color: transparent !important;
  box-shadow: none !important;
}

.skiptranslate iframe {
  display: none;
}